<div class="columns">
    <div class="column is-one-quarter">
        The Wolf trots to and fro,<br>
        The world lies deep in snow,<br>
        The raven from the birch tree flies,<br>
        But nowhere a hare, nowhere a roe,<br>
        The roe -she is so dear, so sweet -<br>
        If such a thing I might surprise<br>
        In my embrace, my teeth would meet,<br>
        What else is there beneath the skies?<br>
        The lovely creature I would so treasure,<br>
        And feast myself deep on her tender thigh,<br>
        I would drink of her red blood full measure,<br>
        Then howl till the night went by.<br>
        Even a hare I would not despise;<br>
        Sweet enough its warm flesh in the night.<br>
        Is everything to be denied<br>
        That could make life a little bright?<br>
        The hair on my brush is getting grey.<br>
        The sight is failing from my eyes.<br>
        Years ago my dear mate died.<br>
        And now I trot and dream of a roe.<br>
        I trot and dream of a hare.<br>
        I hear the wind of midnight howl.<br>
        I cool with the snow my burning jowl,<br>
        And on to the devil my wretched soul I bear.
    </div>
    <div class="column">
        <img src="static/images/index.jpg">
    </div>
</div>