<div class="columns is-mobile is-centered">
	<div class="column">
		<center><span class="is-size-7 is-italic">"Now true humor begins when a man ceases to take himself seriously."</span></center>
		<div class="columns">
			<div class="column is-one-quarter">
				<img src="/static/images/a.jpeg" />
			</div>
			<div class="column is-three-quarters">
				<p class="is-size-7">A collection of pseudo-random ramblings, experiments and thoughts from someone who is anything but proud of his biography(some parts are alright). Old enough to remember 3.5 inch floppy drives, LPT ports and mechanical mice, young enough to love shitposting. Read at your own risk. I hold no responsibility for any mental disorders you might develop as a consequence.</p>
				<div class="column is-half is-pulled-left">
					<span class="has-text-weight-bold">Weird computer science, a.k.a. wtf</span>
					<hr />
					<ul>
						<li><a href="#blog/rust_embedded.md">The state of embedded Rust for your average enthusiast.</a></li>
						<li><a href="#blog/the-ultimate-macrokeyboard-pt1.md">The ultimate made macro keyboard part 1.</a></li>
						<li><a href="#blog/lets-do-something-dumb.md">Let's do something dumb</a></li>
					</ul>
				</div>
				<div class="column is-half is-pulled-left">
					<span class="has-text-weight-bold">Dirty hacks</span>
					<hr />
					<ul>
						<li><a href="#blog/to-photograph-a-lightning.md">To photograph a lightning</a></li>
						<li><a href="#blog/lets-test-lora.md">Let's test LoRa</a></li>
					</ul>
				</div>
                <div class="is-clearfix"></div>
                <div class="column is-half is-pulled-left">
                    <span class="has-text-weight-bold">Reflective</span>
                    <hr />
                    <ul>
                        <li><a href="#blog/whispers-of-a-dream.md">Whispers of a dream</a></li>
                    </ul>
                </div>
			</div>
		</div>
	</div>
</div>
