<footer id="_footer" class="footer deep-blue">
    <div class="content has-text-centered">
        <p>
            <a href="https://github.com/axegon" target="_blank" class="button is-black">
                <span class="icon">
                    <i class="fab fa-github"></i>
                </span>
                <span>axegon</span>
            </a>
            <a href="https://twitter.com/axegon0" target="_blank" class="button is-info">
                <span class="icon">
                    <i class="fab fa-twitter"></i>
                </span>
                <span>@axegon0</span>
            </a>
            <br>
            <br>
            <span class="has-text-white">Powered by <a href="http://rorigami.site"><img src="/static/images/rorigami.png" style="width:20px; height: 15px;"></a>
        </p>
    </div>
</footer>
