<nav id="_navbar" class="navbar is-black" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu is-active">
        <div class="navbar-start">
            <a class="navbar-item hvr-overline-reveal" href="#/">
                Home
            </a>
            <a class="navbar-item hvr-overline-reveal" href="#signature/signature">
                Signature
            </a>
            <a class="navbar-item hvr-overline-reveal" href="#contacts/index">
                Contacts
            </a>
        </div>
    </div>
</nav>
