@import url(https://fonts.googleapis.com/css?family=Roboto);

body { min-height: 100% }

.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.section {
  flex: 1;
}

*[class*=" hvr-"] {
  display: flex !important;
}

.deep-blue {
    background: #1F2D57 !important;
}

.deep-blue-gradient {
  background: linear-gradient(rgb(31, 45, 87) 0%, rgb(0, 0, 0) 90%);
}

.medium-blue {
  background: #4C88FF !important;
}

.light-blue {
  background: #6FE0E7 !important;
}

#_content_container {
    background-color: #141414;
    color: #afafaf;
}

h1,h2,h3,h4,h5,h6 {
    color: #afafaf !important;
}
