<div class="columns">
    <div class="column is-two-fifths">
        <p>
            <span class="is-size-1">GPG Keys</span><br>
            All my commits and/or files are signed with one of the following GPG keys: <br>
            <hr>
            <strong>C1B76AD697979661</strong> - 2011-05-27 - Deprecated<br>
            <strong>F456D8E60D03B156</strong> - 2019-03-24 - Active<br>
            <hr>
            <span class="is-size-5 has-text-weight-bold">Commits and/or files which are not signed with either of those must be considered invalid!</span><br>
            A.E.
        </p>
    </div>
    <div class="column">
        <img src="images/lockpads.jpg">
    </div>
</div>